#banner
  .banner_content
    %h1 NoteBook
    %p Online notebook for your life!
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Plain Awesome!"
    %p.name ~ Ché

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Meditation put a bird on it drinking vinegar organic pickled, Truffaut migas Carles deep v XOXO bespoke semiotics readymade wolf pour-over. Put a bird on it forage seitan, XOXO Helvetica Echo Park sartorial twee. Mixtape cronut disrupt hella hashtag, listicle Bushwick Schlitz hoodie umami small batch irony plaid Truffaut. Photo booth lumbersexual DIY brunch hoodie, trust fund Pinterest. Brunch banh mi twee, trust fund viral chia letterpress jean shorts. Vice kogi meh Portland plaid. Migas tousled wolf polaroid cray before they sold out.
      .callout
        %i.fa.fa-shopping-cart
        %h2 Shopping List
        %p Marfa Godard hashtag chia. Hella salvia Brooklyn raw denim. Stumptown artisan health goth, plaid lomo Etsy chia put a bird on it beard banh mi. Ennui four dollar toast roof party, literally Brooklyn pork belly sriracha. Normcore Pitchfork small batch selfies organic locavore, cornhole fanny pack VHS dreamcatcher listicle Shoreditch art party. Etsy lumbersexual Marfa jean shorts tattooed, polaroid flexitarian. Sartorial fingerstache tousled single-origin coffee, banh mi Neutra fixie normcore taxidermy direct trade VHS.
      .callout
        %i.fa.fa-calendar
        %h2 Schedule
        %p Four dollar toast twee master cleanse, gastropub PBR viral whatever asymmetrical craft beer flexitarian pork belly. Freegan brunch American Apparel chillwave fingerstache, beard stumptown. Gastropub meggings bicycle rights, tattooed street art taxidermy sustainable Carles Vice. Umami messenger bag Banksy, whatever jean shorts cold-pressed meh mumblecore tousled pickled bitters. Selvage yr Kickstarter, kale chips asymmetrical typewriter pork belly sriracha iPhone artisan DIY selfies sustainable mlkshk. Gentrify actually shabby chic, Tumblr tote bag Helvetica chillwave iPhone squid Godard polaroid literally irony. McSweeney's cray selfies Tumblr pork belly skateboard occupy synth cronut ennui 8-bit, forage Shoreditch Kickstarter chia.

#bottom_cta
  .wrapper
    %h2 Hey There
    %p Have access to your notes online!
    %button= link_to "Sign Up", new_user_registration_path

%footer
  %p &copy; 2015 FreeSpirit Development.
